
#formContainer {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 30vh;
}

#formContainer input {
    padding: 10px;
    padding-right: 100px;
    outline: none;
    margin-right: 10px;
    border-radius: 10px;
    border: solid 2px rgba(0, 0, 0, 0.2);
    background: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#formContainer button {
    padding: 10px;
    outline: none;
    margin-left: 10px;
    border-radius: 10px;
    border: solid 2px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#formContainer button:hover {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}