<div class="headerContainer">
    <h1 class="headerText"> Landing </h1>
</div>

<form id="formContainer">

    <div>
        <input type="text" name="trainerName" id="trainerName" placeholder="Enter your trainer name" [(ngModel)]="trainerName" />
    </div>

    <button (click)="onNameChosenClicked()" type="button"> Choose name </button>

</form>
