<div class="headerContainer">
    <h1 class="headerText">{{ name }}</h1>
</div>

<div *ngIf="loading" id="detailContainer">
    <p>Loading info</p>
</div>

<div *ngIf="!loading">
    <div id="imageContainer">
        <img src="{{ pokemon.sprites.front_default }}" alt="{{ pokemon.name }}" />
    </div>

    <div *ngIf="!catched" id="catchButtonContainer">
        <button (click)="handleCatchPokemonClick()"> Catch {{ pokemon.name }} </button>
    </div>

    <div *ngIf="catched" id="releaseButtonContainer">
        <button (click)="handleCatchPokemonClick()"> Release {{ pokemon.name }} </button>
    </div>


    <div id="detailContainer">
        <div id="baseContainer">
            <h1>Base Stats</h1>
            <br>
            <h5>Types</h5>
            <ul>
                <li *ngFor="let type of pokemon.types">
                    {{ type.type.name }}
                </li>
            </ul>
            <br>
            <h5>Base stats</h5>
            <ul>
                <li *ngFor="let stat of pokemon.stats">
                    {{ stat.stat.name }} - {{ stat.base_stat }}
                </li>
            </ul>
        </div>

        <div id="profileContainer">
            <h1>Profile</h1>
            <br>
            <h5> Body </h5>
            <p>height : {{ pokemon.height }}</p>
            <p>weight : {{ pokemon.weight }}</p>
            <br>
            <h5>Abilities</h5>
            <ul>
                <li *ngFor="let ability of pokemon.abilities">
                    {{ ability.ability.name }}
                </li>
            </ul>

            <p>base experience : {{ pokemon.base_experience }}</p>
        </div>

        <div id="movesContainer">
            <h1>Moves</h1>
            <br>
            <h5>Moves</h5>
            <ul>
                <li *ngFor="let move of pokemon.moves">
                    {{ move.move.name }}
                </li>
            </ul>
        </div>
    </div>
</div>