#detailContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#imageContainer {
    display: flex;
    justify-content: center;
    height: 100px;
    margin: 25px;
}   

#catchButtonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#catchButtonContainer button {
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 10px;
    background: green;
    color: white;
    font-size: 18px;
    font-weight: 500;
    width: 300px;
    outline: none;
    border: solid 4px white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
}

#releaseButtonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#releaseButtonContainer button {
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 10px;
    background: red;
    color: rgba(0, 0, 0, 0.8);
    font-size: 18px;
    font-weight: 500;
    width: 300px;
    outline: none;
    border: solid 4px black;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
}

#catchButtonContainer button:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

#imageContainer img {
    margin: auto;
    height: 100px;
    width: auto;
}

#baseContainer{
    flex: 1;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 50px;
    border-radius: 20px;
    margin: 40px;
    margin-top: 0px;
}

#profileContainer {
    flex: 1;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 50px;
    border-radius: 20px;
    margin: 40px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#movesContainer {
    flex: 1;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 50px;
    border-radius: 20px;
    margin: 40px;
    margin-top: 0px;
}

#detailContainer h1 {
    color: orange;
}

