<nav class="navbarContainer">
  <ul routerLinkActive="active" class="navbar">
    <li class="nav-item"><a routerLink="catalogue">Catalogue</a></li>
    <li class="nav-item"><a routerLink="trainer">Trainer</a></li>    
  </ul>
</nav>
