.navbarContainer {
   padding: 35px;
   background: red;
   border-bottom: solid 6px black;
   z-index: 1;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

.navbar a {
    margin-right: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 600;

}

.navbar a:hover {
    color: black;
}