<div class="headerContainer">
    <h1 class="headerText"> Trainer </h1>
</div>

<h1 id="catchedText"> Catched Pokemons </h1>
<div id="pokemonListContainer">
    <app-pokemon *ngFor="let pokemon of pokemonListShow" [pokemon]="pokemon"></app-pokemon>
</div>