#pokemonListContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}

#catchedText {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.2);
}