.pokemonContainer {
    margin: 10px;
    width: 150px;
    height: 200px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: blanchedalmond;
    transition: all 0.5s;
    cursor: pointer;
}

.pokemonContainer:hover {
    transform: translateY(-5px);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
}

.pokemonContainer p {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
}

.pokemonContainer img {
    margin: auto;
    margin-bottom: 20px;
}