* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

.headerContainer {
    border: solid black 6px;
    background: white;
    display: flex;
    margin: auto;
    margin-top: -70px;
    justify-content: center;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    z-index: 10;
}

.headerText {
    text-align: center;
    margin: auto;
    margin-top: 45px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.2);
}

