

#pokemonListContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}

.isLoading {
    text-align: center;
    margin-top: 50px;
}



.filterContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.filterContainer input {
    padding: 12px;
    padding-right: 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    outline: none;
    border: solid 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.filterContainer button {
    padding: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    outline: none;
    border: solid 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.filterContainer button:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}