<div class="headerContainer">
    <h1 class="headerText"> Catalogue </h1>
</div>


<div *ngIf="!isLoading" class="filterContainer">
    <input type="text" id="filter" name="filter" placeholder="Search for pokémon" (ngModelChange)="filterChangeHandler($event)" [(ngModel)]="filterText"/>  
</div>

<div *ngIf="isLoading" class="isLoading">
    <p> Getting pokemons... </p>
</div>


<div id="pokemonListContainer">
    <app-pokemon *ngFor="let pokemon of pokemonListFiltered" [pokemon]="pokemon"></app-pokemon>
</div>

